.container{
    border:1px solid black;
    width:500px;
    height:500px;
    margin:auto auto auto auto;
    display:flex;
  flex-wrap: wrap;

  
  
}
.box{
    border:1px solid darkblue;
width:60px;
height:160px;
}
.wybuch{
    width:40px;
    height:40px;
    background-color: black;
    opacity:1;
    
    
  
}
.boksy{
    display:flex;
    align-items: center;
}